.ImageReveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.InView {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 1.2s cubic-bezier(0.65, 0.05, 0.36, 1) clip-path;
}

.InViewLarge {
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) 0s transform;
}
