@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HankenGrotesk-Light";
  src: url("/assets/fonts/HankenGrotesk/HankenGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGrotesk-Regular";
  src: url("/assets/fonts/HankenGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGrotesk-SemiBold";
  src: url("/assets/fonts/HankenGrotesk-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGrotesk-Bold";
  src: url("/assets/fonts/HankenGrotesk-Bold.ttf") format("truetype");
}

body {
  background: #f4f3ed;
  box-sizing: border-box;
  color: #191919;
  font-family: HankenGrotesk-Regular;
  font-weight: 500;
  margin: 0;
  padding: 0;
  transition-duration: 500ms;
  transition-property: opacity, filter;
  transition-timing-function: ease-in-out;
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.PageTransition {
  filter: blur(12px);
  opacity: 0;
}
