.Cursor {
  background-color: white;
  border-radius: 50%;
  height: 15px;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(-50%, -50%);
  width: 15px;
  z-index: 9999;

  &[data-is-mobile="true"] {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
